@import "../../Sass/variables.module";

footer{
    background-color: $color-secondary;
    color:$color-primary;
    font-family: "Open Sans";
}

.footerLeft{
    text-align: left;
}

.footerRight{
    text-align: left;
    margin-left: 8%;
}

.socialIcons{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 150px;
  }

  .payIcons{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    margin-bottom: 2%;
  }